/* _________________________________________
CONTENT:	Porky Pig
AUTHOR:		Praeophan Khongkraphan
____________________________________________

TABLE OF CONTENTS:

1. typography
2. base
	2.a layout
	2.b utility classes
3. content


========================================================== */

/* 1. TYPOGRAPHY ========================================= */

@font-face{
	font-family: 'social-icons';
	src: url('../fonts/social-icons.eot');
	src: url('../fonts/social-icons.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/social-icons.woff') format('woff'), 
		 url('../fonts/social-icons.ttf')  format('truetype'),
		 url('../fonts/social-icons.svg') format('svg');
		 font-weight: normal;
		 font-style: normal;
}
/* 2. BASE  ======================================== */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


body,
html {
	position: relative;
	margin: 0 auto;
	padding: 0;

}

.pageWrapper {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.clearfix:after {
	clear: both;
	display: table;
	content: '';
	font-size: 0;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato';
	font-weight: normal;
	color: #000;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 0.875em;
	color: #fff;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.275em;
}

h6 {
	font-size: 1.1em;
}

p {
	font-family: 'Helvetica Neue';
	font-size: 16px;
	color: #000;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

a {
	text-decoration: none;
	position: relative;
	color: #000;
}

li {
	list-style: none;
}

/* LAYOUT */

section {
	height: auto;
	overflow: hidden;
}
.three-col, .two-col {
	margin-top: 25px;
}

.three-col > .col-one,
.three-col > .col-two,
.three-col > .col-three {
	float: left;
	width: 31.333%;
	margin: 1%;
}

.three-col > .col-one {
	margin: 1% 2% 1% 0; 
}

.three-col > .col-three {
	margin: 1% 0 1% 2%; 
}

.two-col > .col-one,
.two-col > .col-two {
	float: left;
	width: 47.5%;
}

.two-col > .col-one {
	margin: 2% 2% 2% 0;
}

.two-col > .col-two {
	margin: 2% 0 2% 2%;
}

.three-col img {
	width: 100%;
	height: auto;
}

.fixed {
    position: fixed;
    top: 0
} 

/* RIBBON */
.ribbonWrapper {
	display: block;
	position: relative;
	z-index: 0;
	margin: 20px -125px;
}

.ribbon,
.btn {
	display: inline-block;
	color: #202020;
	background-color: #ffce10;
	position: relative;
	text-align: center;
	padding: 11px 5px;
	font-size: 18px;
	line-height: 18px
}

.ribbon:before {
	left: -31px;
	border: 20px solid #fc3;
	border-left-color: transparent;
}

.ribbon:before,
.ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	z-index: -1;
}

.ribbon:after {
	right: -20px;
	border-left-width: 20px;
	border-right-color: transparent;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #fc3;
}

/* 3. CONTENT  =============================================== */

/* HEADER */
.mainHeader,
footer {
	width: 100%;
	height: 307px;
	background-color: #f3614c; 
	text-align: center;
	padding: 0 15%;
}

.headerImg {
	float: left;
	margin: 4.2% auto;
	padding: 0;
	width: 17.5%;
	height: auto;
}
.headerInfo {
	padding: 3% 0 0 0;
	margin: 0 33%;
	width: 65%;
	height: auto;
}

.headerInfo h1 {
	font-size: 53px;
}

.headerInfo p {
	margin: 3% 0 0 0;
	font-size: 18px;
}

p.icon-star {
	margin: 4% -14%;
	padding: 0;
}

/* NAVIGATION */

.mainNav ul {
	list-style: none;
	padding: 0 13%;
	margin: 0 auto;
	background: #202020;
	width: 100%;
	height: 48px;
	position: relative; 
}

.mainNav ul li {
	font-family: 'Helvetica Neue';
	font-size: 16px;
	color: #FFF;
	display: inline-block;
	border-left: dashed 1px #636363;
	padding: 14px 0;
}

.mainNav ul li:last-child {
	border-right: dashed 1px #636363;

}

.mainNav ul li a {
	padding: 0 30px;
	text-decoration: none;
	color: #FFF;
	margin: 0 auto;
	text-align: center;  

}

.mainNav ul li a:hover,
.mainNav ul li a:active {
	color: #9ccaaa;
}

.mainNav ul li:nth-child(3) {
	margin-right: 80px;
	border-right: dashed 1px #636363;

}

.mainNav ul li:nth-child(4) {
	padding-left: 103px;
}

.icon-top {
	position: relative;
}

.icon-top img {
	position: absolute;
	top: -15px;
	left: -156px;
}

/* INNER WRAPPER */
.innerWrapper {
	width: 80%;
	padding-top: 40px;
	margin: 0 10%;
}

.innerWrapper img {
	width: 100%;
}

/* SECTION ONE: WORK */
.sec-header {
	border-top: 1px dashed #333;
	border-bottom: 1px dashed #333;
	margin: 20px 15%;
	text-align: center;
	padding: 2em 0;
	width: 70%;
}

.sec-header h4 {
	color: #80726b;
	width: 70%;
}

.sec-header h2 {
	margin: -3% 0 2% 0;
}

.mtv {
	background-color: #9ec9ac;
	overflow: hidden;
}

.mtv .headerImg {
	padding: 14% 8%;
	width: auto;
}

.mtv article,
.blog article {
	float: right;
	width: 46%;
	padding: 2%;
	height: auto;
}

article .ribbonWrapper {
	margin: 17% 30%;
}

.mini-copy,
.copy,
.important {
	color: #000;
	text-align: left;
	line-height: 2em;
}

figcaption h6,
.copyTitle,
.blogTitle {
	text-align: left;
	color: #004a59;
	padding-top: 5%;
}
p.mini-copy {
	font-size: .82em;
	padding: 5% 0;
}

.btn {
	width: 400px;
	height: auto;
	margin: 7% 27%;
}

.btn a {
	padding: 2% 0;
	margin: 0 auto;
}

/* SECTION TWO: NEWS */
.three-col h4,
.two-col h4,
.news figcaption,
.blogTitle {
	color: #3694a7;
}

p.copy,
p.important {
	font-size: 1em;
	padding: 5% 0;
}

.newsRibbon .ribbon {
	margin: 16%;
}

/* SECTION THREE: BLOG */

.blogTitle {
	font-size: 1.7em;
}

.featured-blog {
	overflow: hidden;
}
.featured-blog .headerImg {
	padding: 0 4%;
	width: auto;
}

.recent-art {
	text-align: left;
}

.thin h6 {
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 5%;
}

/* SECTION FOUR: ABOUT */

p.important {
	color: #ff6146;
}

.about {
	background: url(../img/bg-about.gif) 100% 100% no-repeat;
	background-position-x: 110%;
	background-position-y: 70%
}
/* SECTION FIVE: NETWORK */

.network.three-col {
	padding: 5% 0;
}

/* SECTION SIX: CONTACT*/
.bg-cta {
	background-color: #ffce10;
}

.contact h5 {
	text-align: left;
	padding: 5% 0 .5% 0;
}

.contact h6 {
	color: #80726b;
	text-align: left;
	font-size: .80em;
	text-transform: uppercase;
}

/* FOOTER */

footer {
	height: auto;
}

.social{
	margin: -4% -65%;
}
.social a {
	text-transform: uppercase;
	font-weight: bold;
}

address, 
.social a {
	font-size: .75em;
	font-style: normal;
	margin: 1em 0;
}

.ftr-contact {
	margin: -4% -15%
}

.form {
	float: left;
	border-radius: 10px;
	background: #fff;
	padding: 2em;
	width: 340px;
}

.more-info .ribbon {
	margin: 2% 0 0 0;
}

.questions {
	margin: 0 0 0 10%;
}

.thankYou {
	padding: 3% 0;
}

.thankYou h3 {
	font-size: 1.5em;
}

.footnote .col-one {
	margin: -1.5% 0;
	padding: 0 10%;
}

.footnote .col-two {
	margin: -1.5% 0;
	float: right;
	padding: 0 17%;
}

.footnote{
	background-color: #202020;
	width: 100%;
	height: auto;
	padding: 3%;
	color: #918680;
	text-transform: uppercase;

}

.footnote a {
	color: #918680;

}

.footnote img {
	float: right;
	margin: -24% -50%;
	padding: 0;
}


/* ICON FONTS */

.icon-down {
	text-align: right;
	margin: 0 auto;
	padding: 0;
}

.icon-star {
	color: #000;
}

.icon-facebook-circled,
.icon-twitter-circled {
	color: #fff;
	font-size: 1.3em;
}



[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-twitter-circled:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\e804'; } /* '' */