@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic|Pacifico|Bevan);

.col-3 {
    float: left;
    width: 25%;
}

.container {
    float: left;
    width: 100%;
}

h1 {
    font: 3rem / 3rem "Bevan", sans-serif;
    text-shadow: -1px -1px 5px #a0a0a0;
}

h3 {
    font-family: 'Pacifico';
    font-size: 1.25rem;
}

* {
  backface-visibility: hidden;
}


fieldset {
  border: none;
}


[type="text"].ng-dirty {
  &.ng-valid {
    background: #ECFFEC;
    position: relative;
  }
  &.ng-invalid {
    background: #FFCFD0;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #666 !important;
}

.newsletter {
  line-height: 1.5rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  position: relative;
  top: 2.25rem;
  h1, header {
    margin: 0;
    padding-bottom: 0;
  }
  form, fieldset {
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
  input {
    margin: 0 auto;
    padding: 0;
    &[type="submit"] {
      margin: 0 auto;
      padding: 0;
    }
  }
  label {
    margin: 0 auto;
    padding: 0;
  }
  form {
    padding: 1.5rem 1rem 1.5rem 1rem;
  }
  background: #e3e3e3;
  border-radius: 4px;
  color: #1f1f1f;
  font: 400 1rem / 1.5rem "Cabin", sans-serif;
  width: 350px;
}

/*---Layout---*/

.header_script {
  display: block;
  font-family: 'Pacifico';
  font-size: 1.25rem;
}

.newsletter {
  header {
    text-align: center;
  }
  input {
    background: #fff;
    border: none;
    border-left: solid 5px #fff;
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 1.5rem;
    text-indent: 2rem;
    transition: border 0.2s ease-in-out;
    width: 100%;
  }
  label, input[type="submit"] {
    display: inline-block;
    font-size: 1.25rem;
  }
  label {
    font-family: 'Bevan';
  }
  input[type="submit"] {
    background-image: -moz-linear-gradient(19% 75% 90deg, #bfbfbf, white, #d9d9d9 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bfbfbf), color-stop(0.7, #d9d9d9));
    border: none;
    border-radius: 10px;
    color: #1f1f1f;
    font-family: 'Pacifico';
    font-size: 1.5rem;
    font-style: normal;
    opacity: 0.75;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 5px #fff;
    transition: opacity 0.2s ease-in-out;
  }
}

::-webkit-input-placeholder {
  color: #a0a0a0;
  font-style: italic;
}

.newsletter input {
  &:focus {
    border-left: solid 5px #5c5c5c;
    outline: 0;
  }
  &[type="submit"] {
    &:hover, &:focus {
      background: #5c5c5c;
      background-image: -moz-linear-gradient(19% 75% 90deg, #bfbfbf, white, #d9d9d9 100%);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bfbfbf), color-stop(0.7, #d9d9d9));
      border: none;
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }
  }
}